{% extends 'base.html.twig' %}
{% block title %}{{ 'actions.create'|trans({'%entity%': 'labels.home'|trans}) }}{% endblock %}
{% block body %}
    <section>
        {% include '_layout/page_title.html.twig' with {'page_title': 'actions.create'|trans({'%entity%': 'labels.home'|trans}) } %}
    </section>

    <section class="mb-4">
        {{ form(create_home_form) }}
    </section>

    {% include '_layout/return_button.html.twig' with {
        'path': path('home_list'),
        'return_button': 'actions.cancel'|trans({'%entity%': 'labels.home'|trans})
    } %}
{% endblock %}
