{% for message in app.flashes('success') %}
    <ul class="bg-gray-100 border border-gray-400 text-blue-500 px-4 rounded">
        <li class="my-2 text-green-700">{{ message|trans }}</li>
    </ul>
{% endfor %}
